body {
	background-image: url("https://dl.dropboxusercontent.com/u/9448237/heartsick-tumblr-main-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
a {
	text-decoration: none;
	color: #CD0000;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
h1,h2 {
	letter-spacing: 3px;
}
img, iframe {
	width: 100%;
}

.center {
	text-align: center;
}

.margin-top {
	margin-top: 3rem;
}

.brand-color--accent {
    color: #CD0000;
}
.brand-color_primary {
    color: #333;
}

/* Main navigation */
.nav {
	margin-top: 1rem;
}
.nav li {
	list-style: none;
    display: inline-block;
}

.nav--primary li {
	padding: 1rem 1.5rem;
    font-size: 2rem;
    margin-right: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.nav--secondary li {
	padding: 0.5rem 1rem;
    margin-right: 0.5rem;
}

/* Album Promo section */
.accent {
	border: 2px solid #333;
}

a.accent {
	margin-top: 1rem;
	display: inline-block;
	padding: 1rem;
	color: #333;
}

/* Call out rules */
.callout h1,
.callout h2 {
	font-size: 3em;
}

.callout h3 {
	font-size: 1.25em;
	margin-bottom: 0.1em;
	letter-spacing: 0.2rem;
	font-weight: 300;
}

.callout h4 {
	font-size: 2em;
	letter-spacing: 0.3rem;
}

/* Footer */

footer {
	background-color: #333;
	background-image: url("https://dl.dropboxusercontent.com/u/9448237/heartsick-tumblr/heartsick-footer-bg.jpg");
	background-attachment: fixed;
	background-size: contain
	background-repeat: repeat;
	padding: 3rem;
	border-top: 4px solid #CD0000;
}

.sponsors img {
	width: auto;
	height: 80px;
	padding: 1em;

}

/* Tumblr Stuff */
.like_and_reblog_buttons {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    list-style: none;
}

.like_and_reblog_buttons li {
    float: left;
    margin: 0;
    padding: 7px 15px;
    height: 20px;
}

.like_and_reblog_buttons li:first-child {
    border-right: 1px solid #e8e8e8;
}





